:root {
  --greyishBlack: #1f1f1f;
  --PX_bodymargin: 20px;
  --PX_buttonPadding: 10px;
  --VW_gapBtwElem: 2vw;
  --VW_h1: 6.9vw;
  --F_RaleWay: 'Raleway', sans-serif;
  --F_Ubuntu: "Ubuntu", sans-serif;
}

* {
  font-family: var(--F_Ubuntu);
  color: white;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: var(--greyishBlack);
  margin: var(--PX_bodymargin);
}

#header {
  display: flex;
  justify-content: space-between;
}

#hamitems {
  display: flex;
}

#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: white;
  text-align: center;
}
a:hover {
  background: #af0d0d;
}

/* (C) HIDE HAMBURGER */
#hamnav label,
#hamburger {
  display: none;
}

header * {
  justify-content: center;
  text-align: center;
  margin: calc(var(--PX_bodymargin) + 4%);
}

.headertile h1 {
  font-family: var(--F_RaleWay);
  font-size: var(--VW_h1);
}
.headertile p {
  font-size: 2vh;
}
.cascading {
  z-index: -2;
  position: relative;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 50px solid transparent;
  filter: blur(10px);
}

.cascading img {
  height: 40em;
  width: 70em;
  margin: 0;
  position: absolute;
  top: -30vw;
}

#checkOutToolsButton {
  padding: var(--PX_buttonPadding);
  background-color: #6a1b9a;
}

.fancy {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
 }
 
 .fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
 }
 
 .fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
 }
 
 .fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
 }
 
 .fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }
 
 .fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }
 
 .fancy:hover {
  color: white;
  background: black;
 }
 
 .fancy:hover::before {
  width: 0.9375rem;
  background: white;
 }
 
 .fancy:hover .text {
  color: white;
  padding-left: 1.5em;
 }
 
 .fancy:hover .top-key {
  left: -2px;
  width: 0px;
 }
 
 .fancy:hover .bottom-key-1,
  .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
 }

@media screen and (max-width: 768px) {
  /* (A) BREAK INTO VERTICAL MENU */
  #header {
    position: relative;
  }
  .cascading img {
    height: 15em;
    width: 26em;
    margin: 0;
    position: absolute;
    left: -100px;
    right: 10;
    top: -30vw;
    /* background-repeat: repeat; */
  }

  #hamitems {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    flex-direction: column;
  }

  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline-block;
    color: white;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems {
    display: none;
  }
  #hamnav input:checked ~ #hamitems {
    display: block;
  }
}
