:root {
  --greyishBlack: #1f1f1f;
  --PX_bodymargin: 20px;
  --VW_buttonPadding: 1vw;
  --VW_gapBtwElem: 5vw;
  --VW_SmallButtonsFontSize: 2vw;
  --VW_h1: 6.9vw;
  --F_RaleWay: 'Raleway', sans-serif;
  --F_Ubuntu: "Ubuntu", sans-serif;
  --F_Kanit: 'Kanit', sans-serif;
}

* {
  font-family: var(--F_Ubuntu);
  color: white;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0;
}

body {
  background-size: cover;
  filter: blur(0.1px);
  margin: 0;
  background-repeat: no-repeat;
  background-color: var(--greyishBlack);
}

#header {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin: var(--PX_bodymargin);
}

#hamitems {
  display: flex;
}

#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: white;
  text-align: center;
}
a:hover {
  background: #af0d0d;
}

/* (C) HIDE HAMBURGER */
#hamnav label,
#hamburger {
  display: none;
}

header * {
  text-align: center;
}

.headertile {
  margin: var(--PX_bodymargin);
  height: 80vh;
  position: relative;
}

.headertile h1 {
  margin: calc(var(--PX_bodymargin) + 4%);
  font-family: var(--F_RaleWay);
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5) ;
  font-size: var(--VW_h1);
}
.headertile p {
  font-size: 1.5vw;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5) ;
  margin-bottom: var(--VW_gapBtwElem);
}

#checkOutToolsButton {
  margin-top: var(--VW_gapBtwElem);
  font-size: 1vw;
  padding: var(--VW_buttonPadding);
  border-radius: 6px;
  background-color: #6a1b9a;
}

.cascading {
  top: 60px;
  z-index: -1;
  width: 100%;
  position: absolute;
}

.cascading img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  filter: blur(10px);
}

.about {
  overflow: hidden;
  padding: 2%;
  background-color: #F2F2F2;
  display: grid;
  grid-row-gap: 2px;
  grid-template-columns: repeat(2, 1fr);
}

.desc2 h2, .desc2 p, .desc2 button{
  float: right;
  text-align: right;
}

.desc h2, .desc p, .desc2 h2, .desc2 p {
  color: #262626;
  font-family: var(--F_Kanit)
}

.desc p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.desc button,.desc2 button {
  border-radius: 0px;
  background-color: #0B1723;
  transition: 0.5s all;
}

.desc button:hover, .desc2 button:hover {
  border-radius: 20px;
  box-shadow:  2px 2px 10px #1f1f1f;
}

.stack {
  background-color:#101A26;
  position: relative; 
  border-radius: 0px;
box-shadow:  5px 5px 10px #1f1f1f;
}

.stack img {
  display: block;
  margin: 0 auto;
  width: 30vw;
  animation: rotator 5s ease alternate-reverse infinite;
}

.stack p {
  font-family: var(--F_RaleWay);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  text-align: center;
  font-size: 2vw;
}



@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 768px) {
  /* (A) BREAK INTO VERTICAL MENU */
  #header {
    position: relative;
  }
  
  .headertile {
    height: 50vh;
  }

  .headertile h1 {
    font-size: var(--VW_h1);
  }

 .headertile p {
    font-size: 3vh;
  } 

  #checkOutToolsButton {
    font-size: 3vw;
  }

  #Stack{
    display: block;
  }

  #Stack img{
    width: 70vw;
    border-radius: 20px;
  }

  .about {
    grid-template-columns: repeat(1, 1fr);
  }

  #hamitems {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    flex-direction: column;
  }

  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline-block;
    color: white;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems {
    display: none;
  }
  #hamnav input:checked ~ #hamitems {
    display: block;
  }
}
